---
name: goreleaser

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  bump-version:
    runs-on: ubuntu-24.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      -
        name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.75.0
        env:
          GITHUB_TOKEN: ${{ github.token }}
          WITH_V: true
          DEFAULT_BUMP: patch
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
  goreleaser:
    runs-on: macos-latest
    needs: bump-version
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      -
        uses: arnested/go-version-action@v1
        id: go-version

      -
        name: Setup Go ${{ steps.go-version.outputs.latest }}.x
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version: ${{ steps.go-version.outputs.latest }}.x
          ignore-local: true
      -
        name: Go version
        run: go version
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6.4.0
        with:
          version: "~> v2"
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
